language: python
python:
  - "3.6"      # current default Python on Travis CI
  - "3.7"
  - "3.8"
  - "3.9"
  - "3.9-dev"  # 3.9 development branch
# command to install dependencies
install:
  - pip install py-irt
# command to run tests
script:
  - pytest
